
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)), url(/Email\ Subcription/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80vw;
    min-width: 70%;
    height: 75%;
    min-height: 75vh;
    margin: 0px auto;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .content {
    width: 100%;
    height: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #1e3a8a;

}
.content #first-heading {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 20px;
    color: #fff;
}
.content #message {
    width: 400px;
    min-width: 40%;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}
.content #request {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
}
.input-main {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 0px;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.input-container input {
    height: 40px;
    width: 30%;
    font-size: 1rem;
    padding: 8px;
}
#input-el:focus {
    outline: 3px solid #010161;
    outline-offset: -5px;
}
.input-container button {
    width: 30%;
    height: 45px;
    border: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e3a8a;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 8px;
    background: #fcd701e3;
    transition: 0.8ms;
}
.input-container button img {
    width: 25px;
    height: 25px;
}
.input-container button:hover {
    cursor: pointer;
    background: #eeff00;
}
.input-container button:active {
    scale: 0.95;
}

.content #reply {
    color: #92f892;
    font-weight: 500;
    font-size: 1rem;
}

#dark {
    width: 100%;
    height: 25%;
    margin-bottom: 0;
    background: #1e3b8adf;
}